// Nova Tool CSS
.progress-bar {
    height: 27px;
    width: 300px;
    border: 1px solid #aaa;
    border-radius: 15px;
    padding: 3px;
    margin-top: 15px;
}

.progress-bar .bar {
    background: linear-gradient(to right, rgb(161, 226, 94), rgb(0, 138, 179));
    height: 20px;
    width: 15px;
    border-radius: 10px;

    span {
        float: right;
        padding: 4px 5px;
        color: #fff;
        font-size: 0.7em
    }
}
